:root {
    --fontWebsite : 'Zodiak', serif;
    --fontArticle : 'General Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
/* Header */
nav{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
=======

html {
    font-family: var(--fontWebsite);
}

/* FONTS SETTINGS */



/* HEADER SETTINGS */



/* MAIN SETTINGS */



/* FOOTER SETTINGS */
>>>>>>> ff70922d7476049f73b0493f42a8e379af91bbf2
