:root {
    --fontWebsite : 'Zodiak', serif;
    --fontArticle : 'General Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
nav{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
